

@keyframes appearUpDown{
    0%{
        transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.animationUpDown{
    animation:appearUpDown 1s ease-in-out;
}


@keyframes appearLeftRight{
    0%{
        transform:translateX(-40px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.animationLeftRight{
    animation:appearLeftRight 1s ease-in-out;
}
@keyframes appearRightLeft{
    0%{
        transform:translateX(40px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.animationRightLeft{
    animation:appearRightLeft 1s ease-in-out;
}
@keyframes appearDownUp{
    0%{
        transform:translateY(40px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.animationDownUp{
    animation:appearDownUp 1s ease-in-out;
}
@keyframes runFromLeft{
    0%{
        transform:translateX(-2000px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.animationrunFromLeft{
    animation:runFromLeft 1.5s ease-out;
}
@keyframes runFromRight{
    0%{
        transform:translateX(2000px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}
.animationrunFromRight{
    animation:runFromRight 1.5s ease-out;
}
@keyframes runFromUp{
    0%{
        transform:translateY(-2000px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.animationrunFromUp{
    animation:runFromUp 1s ease-out;
}
@keyframes bounceIn{
    0%{
        opacity:0;
        transform: scale(.3);
    }
    50%{
        opacity: 1;
        transform: scale(1.05);
    }
    70%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
.animationbounceIn{
    animation:bounceIn 2s ease-in-out;
}
@keyframes lightSpeedIn{
    0%{
        transform: translateX(100%) skewX(-30deg);
        opacity:0;
    }
    60%{
        transform: translateX(-20%) skewX(30deg);
        opacity:1;
    }
    80%{
        transform: translateX(0%) skewX(-15deg);
        opacity:1;
    }
    100%{
        transform: translateX(0%) skewX(0deg);
        opacity:1;
    }
}
.animationlightSpeedIn{
    animation:lightSpeedIn 2s ease-in-out;
}