@import './_fonts';
@import './_variables';
@import './animations';
@import './media';


@mixin button($width, $height) {
    background-color: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    width: $width;
    height: $height;
    text-transform: uppercase;
    color:#f39c12;
    transition:1s;
    &:hover{
        color:#fff;
        background-color:#f39c12;
    }
}

*{
    margin:0;
    padding:0;
    
    box-sizing:border-box;
}

/*Титулка почти всех блоков*/
.title{
        padding-top:90px;
        padding-bottom:50px;
        h2{
            @include headingFont(#333, 30px,400);
            &::after{
                content:"";
                display: block;
                margin:20px auto;
                width:60px;
                height:2px;
                background-color: #f39c12;
            }
        }
        p{
            @include headingFont(#333, 18px, 300);
            line-height:28px;
            margin-top:45px;
        }
    }


.header{
    background:url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    .section-overlay{
        background-color: rgba(33,33,33,.75);
        height:100vh;
    }
    
}

.navbar{
    margin-top:0;
    background-color:rgba(56, 56, 56, 0.7);
    opacity:1;
    
    .navbar-brand{
        img{height:35px;
            width:80px;
        }
    }
.navbar-nav{
        li{

            a{
                text-decoration:none;
                color:rgb(181,181,181);
                &:hover{
                    transition:1s;
                    color:#f39c12;
                }
            }
        }
    }
}



/*homepage*/


.home-container{
    padding-top: 140px;
    padding-bottom:140px;
    
    .logo{
        padding-bottom:50px;
        img{
            vertical-align: center;
            text-align: center;
            height:55px;
            width:125px;
        }
    }
    .home-text{
        h1{        
            @include headingFont(white, 35px,300);
        padding-top:30px;
        line-height:35px;}
        p{
            @include headingFont(white, 17px,300);
            margin-top:0;
            margin-bottom:10px;
            line-height:28px;
        }
        
    }
    div.download-btn{
            margin-top:90px;
            margin-bottom:50px;
            a.btn-primary{
                background-color: transparent;
                border: 1px solid #f39c12;
                border-radius: 4px;
                text-transform: uppercase;
                color:#f39c12;
                transition:1s;
                &:hover{
                    color:#fff;
                    background-color:#f39c12;
                }
            }
            a.btn-secondary{
                background-color: transparent;
                border: 0;
                border-radius: 4px;
                text-transform: uppercase;
                color:#929292;
                transition:1s;
                i{color:#f39c12;}
                &:hover{
                    color:#fff;
                }
            }
            a>i{
                padding-left:10px;
            }
        }
    .home-phone img{
        width:100%;
        
    }

}

/*About page*/

.about-page{
    background:#f1f1f1;

    .inner_about{
        padding-top:50px;
        .inner_about_img{
            
            width:100%;
            height:100%;
        }
        .inner_about_title{
           
            padding-bottom:50px;
            h2{
                @include headingFont(rgb(51,51,51), 30px, 800);
                line-height:37px;
                margin-top:20px;
                margin-bottom:10px;
                &::after{
                    content:"";
                    display: block;
                    margin-top:12px ;
                    width:70px;
                    height:2px;
                    background-color: #f39c12;
                }
            }
            p{
                @include headingFont(rgb(51,51,51), 19px, 300);
                line-height:24px;
                margin-bottom:1rem;
                margin-top:40px;
            }
        }
        .inner-about-desc{
            .inner-about-point{
                
                margin-top:20px;
                .icon{
                    i{
                        font-size:55px;
                        color:#BABABA;
                        margin-right:25px;
                    }
                }
        .inner-about-point-text{
            h2{
                @include headingFont(rgb(52,52,52), 20px, 800);
                text-transform:uppercase;
            }
            p{
                @include headingFont(#727272, 15px, 300);
                margin-bottom:10px;
            }
        }      
    }   
}
    
    
    }
    .video-area{
        padding-top:120px;
        padding-bottom:140px;
        background:#e4e4e4;
        .video-area-title{
            
            h2{
            @include headingFont(rgb(51,51,51), 30px, 800);
            line-height:37px;
            margin-bottom:10px;
            &::after{
                content:"";
                display: block;
                margin-top:12px ;
                width:70px;
                height:2px;
                background-color: #f39c12;
                }
            }
            p{
                @include headingFont(rgb(51,51,51), 18px, 300);
                line-height:28px;
                margin-bottom:1rem;
                margin-top:40px;
            }
        }
        
        .video-area-button{
            
            a.btn-primary{
                border: 1px solid #929292;
                background-color:transparent;
                color:#686868;
                border-radius:3px;
                padding:12px 35px;
                text-transform: uppercase;
                transition:1s;
                
                &:hover{
                    color:#fff;
                    background-color:#f39c12;
                    border-color:#f39c12;
                }
            }
        }

        .you-video{
            
            width: 100%;
            height:100%;
        }
    }
}

/*Testimonial*/

.testimonial{
    background: url("/static/images/testimonial.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position:50%;
    
    .section-overlay{
        background: rgba(0, 0, 0, .6);
        padding-top: 80px;
        padding-bottom: 80px;
        
        .carousel-inner{
            .carousel-item{
                padding-bottom:70px;
                img{
                    padding:3px;
                    border-radius:50%;
                    border: 2px solid #f39c12;
                    width:134px;
                    height:134px;
                }
                h2{
                    @include headingFont(#f39c12, 30px, 900);
                    margin-top: 25px;
                    margin-bottom: 10px;
                    text-transform:uppercase;
                }
                h4{
                    @include headingFont(#d8d8d8, 18px, 500);
                    margin: 10px 0;
                    font-style:italic;
                    span{
                        @include headingFont(#f39c12, 18px, 500);
                        font-style:normal;
                    }
                }
                p{
                    padding-top: 50px;
                    @include headingFont(#d8d8d8, 18px, 300);
                    line-height:27px;

                }
            }
        }
        .carousel-indicators{
            .active{
                background:#f39c12;
            }
            li{
                border-radius:50%;
                width:12px;
                height:12px;
                border: 1px solid #f39c12;
                background:none;
                margin:1px;
                
            }
        }
        
    }

}
#features{
    background-color: #f1f1f1;
    .features-inner{
        padding-top: 30px;
        padding-bottom: 70px;
        h3{
            text-transform: uppercase;
            @include headingFont(#333, 25px, 700);
        }
        p{
            @include headingFont(#333, 16px, 300);
        }
        span{
            color:#f39c12;
        }
        .features-inner-left{
            
            margin-top: 35px;        
            .icon{
                i{
                    font-size:41px;
                    color:#f39c12;
                    
                }
            }
        }
        .features-inner-phone{
            
            height:100%;
            width:100%;
        }
        .features-inner-right{
            
            margin-top: 35px;
            .icon{
                i{
                    font-size:41px;
                    color:#f39c12;
                    margin-right:25px;
                }
            }
        }

    }
    .call-to-action{
        padding: 100px 0;
        background:#1a1a1a;
        p{
            @include headingFont(#dfdfdf, 18px, 300);
            
        }
        .btn-warning{
            background-color: #f39c12;
            border: 1px solid #f39c12;
            border-radius: 4px;
            font-size:14px;
            
            padding:15px 35px;
            text-transform: uppercase;
            color:#fff;
            transition:1s;
            &:hover{
                border-color:#f31270;
                background-color:#f31270;
            }
        }
    }
    .apps-screen-page{
        .screen-slider{
            
            padding-top: 50px;
            overflow: hidden;
            .owl-wrapper{
                display:block;
                left:0px;
                .owl-wrapper-item{
                    position:relative;
                    margin: 0 90px 50px 90px;
                    img{ 
                        display: block;
                        width:100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.facts{
    background: url('../images/fun_bg.jpg');
    .section_overlay{
        padding-top: 120px;
        padding-bottom: 120px;
        background:rgba(0,0,0,.4);
        .facts-item{
           
            i{
                color:#f39c12;
                font-size:60px;
            }
            h2{
                @include headingFont(#D7DADB, 35px, 400);
                margin-top: 15px;
                margin-bottom: 1px;
                
            }
            p{
                @include headingFont(#D7DADB, 20px, 300);
                text-transform:uppercase;
            }
        }
    }

}

.download-page{
    background:#f1f1f1;
    .available_store{
        
        background:#1a1a1a;
        
        .available_store_text{
           
            h2{
                @include headingFont(#fff, 30px, 500);
            }
            p{
                @include headingFont(#b5b5b5, 14px, 500);
            }
        }
        .opsys{
            .opsys-show{
                display:none;
                background:black;
                p{
                    @include headingFont(#fff, 30px, 500);
                }
            }

                .fab{
            color:#f39c12;
            font-size:40px;
            padding:90px;
        }
        }

    }
    img{
        
        
        height:100%;
        width:100%;
    }
}

.contact-page{
    background:#f1f1f1;
    
    .contact-form{
        
        .form-control{
            height:50px;
            @include headingFont(#333, 14px, 300);
            margin-bottom: 15px;
            background-color: transparent;
        }
        #message{
            resize:none;
            height:117px;
        }
        .submit-btn {
            @include button(100%, 50px);
        }
    }
    .social-media{
        
        padding-top: 50px;
        padding-bottom: 70px;
        .social-media-list{
            text-align: center;
            li{
                list-style:none;
                display: inline;
                padding-left:10px;
                a{
                    text-decoration:none;
                    border:1px solid #9d9d9d;
                    border-radius:3px;
                    width:45px;
                    height:45px;
                    display: inline-block;
                    line-height:49px;
                    text-align: center;
                    color: #9d9d9d;
                    i{
                        font-size:20px;
                    }
                }
            }
        }
    }
}

.subscribe{
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .overlay{
        padding-bottom: 70px;
        background: transparent;
    }
    .subscribe-title{
        
        padding-top:90px;
        padding-bottom:50px;
        h2{
            @include headingFont(#eaeaea, 30px, 400);
            &::after{
                content:"";
                display: block;
                margin:20px auto;
                width:60px;
                height:2px;
                background-color: #f39c12;
            }
        }
        p{
            @include headingFont(#a4a4a4, 18px, 300);
            line-height:28px;
            margin-top:45px;
        }
    }
    .subscribe-form{
        .form-control{
        background: transparent;
        height:50px;
        width:100%;
        @include headingFont(#333, 14px, 300);
        margin-bottom: 15px;
        background-color: transparent;
        border:1px solid #575b63;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        color:#aeaeae;
        }


    }        
    .submit-btn {
        
            @include button(200px, 50px);
}
}
.copyright{
    background:#1A1D22;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: 3px solid #f39c12;
    .copyright-text{
        @include headingFont(#8C8B8A, 15px, 500);
        text-transform: uppercase;
        a{
            color:#f39c12;
        }
    }
    .scroll-top{
        a{
            background:#f39c12;
            padding:25px;
            i{
                color:#fff;
                font-size:25px;
            }
        }
    }

}